    <div class="main-wrapper">

    	<!-- =========================
             HEADER
        ============================== -->
        <header class="header dashboard solid-bg" id="top">
            <!-- Background Overlay -->
            <div class="overlay">

            	<%= render 'layouts/header2' %>
                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-section text-center">
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class="heavy"><span class="text-color">Vera</span> helps you advocate for more</h1>
                                <p>Find vetted new patients and manage cases using our web platform</p>
                                
                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <a href="#features" class="btn scrollto hidden-xs">Learn More</a>
                                    <!-- Video Lightbox on Click -->
                                    <a href="#apply" class="btn btn-color venobox">BE AN EARLY TESTER</a>
                                </div>

                            </div><!-- /End Intro-Section -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Dashboard Image -->
                            <div class="image-dashboard text-center">
                                <img src="images/dashboard.png" class="wow fadeInUp" data-wow-duration="2s" alt="SmartMvp-Dashboard">
                            </div>
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->

            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->
        
        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features dark-bg" id="features">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2 class="text-white">You advocate, we handle the rest</h2>
                            <p class="large">- Key Features -</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                    	  <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile text-color"></i>
                            </div>
                            <h4 class="text-white">Better Tools</h4>
                            <p><a>Vera</a> provides you with mobile and web applications to better manage cases and communicate with your patients</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon_check_alt" style="color:#2ECC71"></i>
                            </div>
                            <h4 class="text-white">Vetted Patients</h4>
                            <p>The <a>Vera Staff</a> sources patients through our community partnerships, classes, and marketing, and each patient is vetted before being made available</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-lock text-color"></i>
                            </div>
                            <h4 class="text-white">HIPAA Compliant</h4>
                            <p>Vera works with healthcare and legal experts to ensure the entire platform follows HIPAA compliance requirements. Don't worry, we have it handled.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->

        <!-- ==================================================
            TEAM
        ======================================================= -->
        <section class="team" id="looking-for">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heavy">Who We're Looking For</h2>
                            <p class="large">Passionate healthcare advocates that truly want to improve people's lives</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Team Box -->
                        <div class="col-sm-6 team-box">
                            <h4>You should have:</h4>
                            <ul>
                                <li>Passion for making people's lives better</li>
                                <li>5 years minimum in patient advocacy and/or healthcare</li>
                                <li>Strong people and communication skills</li>
                                <li>Keen eye for detail</li>
                            </ul>

                        </div>

                        <!-- Team Box -->
                        <div class="col-sm-6 team-box">
                            <h4>A plus if you're also:</h4>
                            <ul>
                                <li>Great at writing industry thought pieces</li>
                                <li>Comfortable with larger groups</li>
                                <li>Have strong medical coding experience and/or certifications</li>
                            </ul>
                        </div>

                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!--/End Container -->
        </section>
        <!-- =============================
             /END TEAM SECTION 
        ============================== -->
     

         
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="apply" class="light-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heavy">Apply to be an early tester</h2>
                            <p class="large">Get Started for Free</p>
                            
                        </div>
                    </div>

                    <div class="row">
                        <iframe src="https://docs.google.com/forms/d/16fQBoCcD5e3ntsxwJ1FSMkFXbdJbQZeriM3j__uzmbY/viewform?embedded=true" width="800" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->       
        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm" style="padding-bottom:15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Follow Us</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="">
                                                    <i class="icon icon-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.twitter.com/VeraHealthHQ">
                                                    <i class="icon icon-twitter"></i>
                                                </a>
                                            </li>
                                            <!--li>
                                                <a href="#">
                                                    <i class="icon icon-linkedin"></i>
                                                </a>
                                            </li-->
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">
                            <!-- =========================
                                MAILCHIMP SUBSCRIPTION FORM 
                            ============================== -->     

                            <!-- Begin MailChimp Signup Form -->
												
														<div id="mc_embed_signup">
															<form role="form" action="//veraapp.us10.list-manage.com/subscribe/post?u=3e2dcf9f69bbe8c0108283618&amp;id=1f2c32502c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-subscribe" target="_blank" novalidate>
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Join our mailing list</h5>
                                        </div>
                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->
                                                <input type="email" value="" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" class="required email form-control">
                                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3e2dcf9f69bbe8c0108283618_1f2c32502c" tabindex="-1" value=""></div>
																	    					
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white" style="color:#2980b9;">
                                                </span>
                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <!-- Notifications --> 
                                    <br>
                                    <div id="mce-responses" class="text-white">
																			<div class="response" id="mce-error-response" style="display:none"></div>
																			<div class="response" id="mce-success-response" style="display:none"></div>
																		</div>  
                                </div>
                            	</form><!-- /End Mailchimp Subscribe Form -->

														</div>
														<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
														<!--End mc_embed_signup-->

                            
                                      
                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM 
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION 
        ============================== -->
        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        
                        <!-- Footer Contact Col -->
                        <div class="col-md-4">
                            <h5 class="text-white">Contact Us</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:hello@veraapp.com" class="text-color">Hello@VeraApp.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                    Vera HQ<br>
                                    625 2nd Street<br>
                                    San Francisco, CA 94105
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    +1 510 646 3356
                                </div>
                            </div>
                        </div>

                        <!-- Footer Left Col -->
                        <div class="col-md-8">
                                <!-- Logo -->
                                <a href="#top" class="scrollto" title="SmartMvp">
                                    <span class="text-logo">Vera Health</span>
                                </a>
                                <p class="footer-hero"><strong>Our mission</strong> is to help people make better healthcare decisions. </p>
                                <p class="footer-cta">What do you believe in? <a href="mailto:jobs@veraapp.com" class="btn btn-color">Join Us</a>
                                </p> 
                        </div>
                        <!-- Footer Right Col: Twitter Feed -->
                        <!--div class="col-md-4">
                                <h5 class="text-white">Recent Tweets</h5>
                                <div class="tweet"></div>
                        </div-->

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2015 - Hitchhiker Labs</p>
                            </div>
                        </div>
                        
                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>
        <script>

        mixpanel.track("Home Page Loaded");
        </script>

    </div><!-- /End Main Wrapper -->

