    <div class="main-wrapper">

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header solid-bg" id="top">
            <!-- Background Overlay -->
            <div class="overlay">


						<%= render 'layouts/header' %>

         
                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class=""><span class="text-color">Vera</span> helps lower your hospital bills</h1>
                                <p class="">Vera is your intelligent medical advocate. We combine smart data + medical billing experts to point out errors in your medical bills and help you negotiate them down.</p>
                                
                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <a href="#about" class="btn scrollto">How it Works</a>
                                    <!-- Video Lightbox on Click -->
                                    <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="btn btn-color venobox">Get assessed for FREE</a>
                                </div>

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->
        
  
        <!-- =================================
             HOW IT WORKS
        ====================================== -->

          <section class="tab-features color-bg" id="features">
            <div class="container">
                <div class="features-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Vera fights. You win.</h2><br>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">1</p>
                            <%= image_tag "step1.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white">Upload your medical bill through our site or using the <a class="text-white">Vera Health mobile app <i class="icon arrow_carrot-2right" style="font-size:24px; position:absolute;"></i> </a></p>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">2</p>
                            <%= image_tag "step2.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white">Your bill is analyzed first by <a class="text-white">Vera</a>, an intelligent medical billing platform and then by our human experts to identify billing errors and areas for negotiation</p>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">3</p>
                            <%= image_tag "step3.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white">Your FREE analysis is delivered in 24 hours. Use the analysis to negotiate directly OR have a <a class="text-white">Vera Advocate</a> negotiate for you in return for 20% of the savings</p>
                        </div>
                    </div>



                </div>
            </div>
          </section>

        <!-- =================================
             /END SECTION
        ====================================== -->



        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
        <section class="testimonial-press light-bg" id="testimonials">
            <div class="container vmiddle">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our users save <span style="text-decoration:underline">thousands</span></h2>
                        <p class="large">Save 20-40% on the average qualified hospital bill</p>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs testimonials tab-container" >


                        

                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel-container">
                                <div class="tab-block" id="tab-testimonials-1">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro reprehenderit commodi delectus omnis similique possimus non aut, dicta rem iste nemo perferendis, incidunt mollitia asperiores at tenetur dolores ut libero necessitatibus veritatis fuga. Ut sequi assumenda odit.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-1.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>James Knight</span>Manager @ LoremIpsum</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-2">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Iusto quam fugit consequatur explicabo at deserunt eius vel, debitis non itaque blanditiis error iure modi, asperiores molestiae dolorum! Earum expedita sit, nesciunt neque magnam at dolorem praesentium saepe! Rerum recusandae qui quidem, a neque consequatur laboriosam. <br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-2.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Nathan Wood</span>Chief Technology Officer @ StartupIpsum</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-3">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Commodi quod eligendi molestiae quaerat temporibus odio alias, nobis repudiandae eum molestias libero modi non ipsum architecto facere cumque esse veritatis voluptatibus. Quia eius nulla deleniti impedit officia quidem temporibus, enim! Ab ex, ipsa ullam asperiores itaque.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-3.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Amber Evans</span>Chief Marketing Officer @ AgencyLorem</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-4">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>Aliquid doloremque ipsum ipsam molestias aliquam ab quod mollitia sed. Vero sapiente voluptatem, voluptatum excepturi a doloribus. Dicta sit quo sed, eaque! Voluptates in illo maiores corporis? Placeat ut recusandae maiores, aliquam error. Sequi accusamus nostrum porro.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-4.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Harry Palmer</span>CEO and Founder @ IpsumSite</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                            </div><!-- /End Panel-container -->
                        </div><!-- /End Col -->
                        <ul class="etabs col-md-1 list-unstyled"> 
                            <li class="tab">
                                <a href="#tab-testimonials-1">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-2">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-3">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-4">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                        </ul><!-- /End Etabs --> 

                    </div><!-- /End Tabs --> 
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->

        <!-- ==================================================
             MEDIA SECTION
        ======================================================= -->
        <section class="img-with-action light-bg light-borders">
            <!--div class="container wrapper-xs">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 1</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 2</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 3</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 4</h4>
                    </div>
                </div>
            </div-->

            <div class="container logos">

            	<div class="col-lg-3 col-md-3">
            		<img src="/images/techcrunch_logo.png" style=""/>
            	</div>
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/thenextweb_logo.png" style=""/>
            	</div>
            	
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/wsj_logo.png" style=""/>
            	</div>
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/entrepreneur_logo.png" style=""/>
            	</div>
					  </div>


        </section>
        <!-- =============================
             /END MEDIA SECTION 
        ============================== -->

        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>We're changing healthcare through transparency</h2>
                            <p class="large">Insurance companies and hospitals hire billing experts. Now you do too.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                    	  <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon_datareport"></i>
                            </div>
                            <h4>Powerful Data</h4>
                            <p><a>Vera</a> is an intelligent learning platform that compiles data used by healthcare professionals to help lower your medical bills</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon_group"></i>
                            </div>
                            <h4>Experienced Advocates</h4>
                            <p>Our <a>Vera Advocates</a> are veteran medical bill experts that bring their industry intelligence and negotiation experience to you</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Web + Mobile</h4>
                            <p>Upload your medical bills and access your assessments wherever your are using our web client and mobile applications</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->

        
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="dark-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Lower your hospital bills</h2>
                            <p class="large text-white">No credit card required. Use Vera for FREE.</p>
                            <!-- Handwritten text with arrow -->
                            <p class="signup-handwritten text-white">Get started today<br>1-minute sign up</p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Signup Form -->
                        <form id="signup-divider" role="form">
                            <!-- Notification -->
                            <p class="signup-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Welcome to 30 day Free Trial. Check your email address.</strong></p>
                            <p class="signup-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>  

                            <!-- Input fields -->
                            <div class="form-group">
                                <input type="email" name="signup-email" id="signup-email" class="form-control input-lg" placeholder="Enter your Email-Address" required>
                            </div>
                            <div class="form-group">
                                <input type="password" size="25" name="signup-password" id="signup-password" class="form-control input-lg" placeholder="Enter your Password" required>
                            </div>
                            <!-- Signup Button -->
                            <button class="btn btn-color">Get Started<i class="icon arrow_right"></i></button>
                        </form>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->
            
        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
        <section class="mobile-download light-bg" id="mobile-download">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Download the Vera Health App</h2>
                            <p class="large">Don't miss the chance to get our amazing Mobile Application. Get connected anytime.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text and Mobile Download Buttons -->
                        <div class="col-sm-6 col-md-4">
                            <h3>Supercharge your Productivity</h3>
                            <p class="mobile-text">With an online dashboard and a mobile app, you'll have full control of your account and see your usage in real-time. <span class="text-color">Even more convenient!</span></p>
                            <a href="#" class="btn btn-color"><i class="icon icon_cloud-download_alt"></i>Download Now!!</a>
                        </div>
                      
                        <div class="col-sm-6 col-md-4">
                            <!-- Screenshot Carousel -->
                            <div class="shot-container">
                                <div id="owl-carousel-shots-phone" class="owl-carousel">
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/app-screenshot1alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/app-screenshot2alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/app-screenshot3alt.jpg" alt="" title="this is the title" />
                                    </div>
                                </div><!-- /End owl carousel-->
                            </div><!-- /End Container -->
                        </div>

                        <div class="col-sm-12 col-md-4 right-features">
                            <!-- More Features -->
                            <div class="col-sm-4 col-md-12">
                                <h4>Get Notified</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam inventore.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Add Data in Seconds</h4>
                                <p>Magnam beatae similique molestias incidunt, assumenda dolorem ea deserunt.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Real Time Alerts</h4>
                                <p>Accusantium at sapiente mollitia asperiores quisquam rerum hic et animi.</p>
                            </div>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END MOBILE DOWNLOAD SECTION 
        ============================== -->

        
        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Follow Us</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">
                            <!-- =========================
                                MAILCHIMP SUBSCRIPTION FORM 
                            ============================== -->            
                            <form class="mailchimp-subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Join our mailing list</h5>
                                        </div>
                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->
                                                <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="form-control">
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                    <button class="btn btn-white"><p class="text-color">Subscribe</p></button>
                                                </span>
                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <!-- Notifications --> 
                                    <p class="mc-success"></p>
                                    <p class="mc-failed"></p>
                                </div>
                            </form><!-- /End Mailchimp Subscribe Form -->
                                      
                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM 
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION 
        ============================== -->
        
        
        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Footer Left Col -->
                        <div class="col-md-5">
                                <!-- Logo -->
                                <a href="#top" class="scrollto" title="SmartMvp">
                                    <span class="text-logo">Vera Health</span>
                                </a>
                                <p class="footer-hero"><strong>Our mission</strong> is to help people make better healthcare decisions. </p>
                                <p class="footer-cta">What do you believe in? <a href="#top" class="btn btn-color">Join Us</a>
                                </p> 
                        </div>
                        <!-- Footer Contact Col -->
                        <div class="col-md-3">
                            <h5 class="text-white">Contact Us</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:hi@themedept.com" class="text-color">hello@veraapp.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                    Vera HQ<br>
                                    625 2nd Street<br>
                                    San Francisco, CA 94105
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    +1 510 646 3356
                                </div>
                            </div>
                        </div>
                        <!-- Footer Right Col: Twitter Feed -->
                        <div class="col-md-4">
                                <h5 class="text-white">Recent Tweets</h5>
                                <div class="tweet"></div>
                        </div>

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2015 - Hitchhiker Labs</p>
                            </div>
                        </div>
                        
                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>

    </div><!-- /End Main Wrapper -->