<!DOCTYPE html>
<html>
    <head>

      <meta charset="utf-8">
      <title>Vera Health: Lower Your Medical Bills</title>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>

      <meta name="google-site-verification" content="AWvKL6lw8izf5UO2Z4uWUbkQ58ZGYVsSnZanQmmQPIE" />
      <meta name="description" content="Reduce your medical bill up to 80%. Vera combines smart data and billing experts to audit your medical bills and help negotiate them down. Get your bills reviewed for FREE." />
      <meta name="keywords" content="vera, vera health, veraapp, Vera App, healthcare, medical bill, medical bills, hospital bill, hospital bills, medical bill negotiator, medical bill negotiation, hospital bill negotiator, hospital bill negotiation, patient advocate, health advocate" />
      <meta name="author" content="Vera Health">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAVICON  -->
      <link rel="icon" href="images/favicon/favicon.ico">
        
        <!-- =========================
           STYLESHEETS 
        ============================== -->
      
         
        <!-- GOOGLE FONTS -->
      <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee%7CSource+Sans+Pro" rel="stylesheet">
      <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>

        <!-- start Mixpanel -->
      <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);

        var productionHost = 'veraapp'; 

        var devToken = 'cbb5ad27e6f76f9c1e8b19900e2933cd';
        var prodToken = '4b1437bb62de96657fe48a87babdcb11';

        /* If the hostname is anything other than your production domain, initialize the Mixpanel library with your Development Token */

        if (window.location.hostname.toLowerCase().search(productionHost) < 0) {
            console.log("Dev")
            mixpanel.init(devToken);
        } else {
            console.log("Prod")
            mixpanel.init(prodToken);
        }

      </script><!-- end Mixpanel -->
        
        
        <!--[if lt IE 9]>
                <script src="assets/js/plugins/html5shiv.min.js"></script>
                <script src="assets/js/plugins/respond.min.js"></script>
        <![endif]-->

        <!-- Start of Vera Health Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","verahealth.zendesk.com");/*]]>*/</script>
<!-- End of Vera Health Zendesk Widget script -->
    </head>
    <body>

    <%= yield %>

    </body>
</html>
